# https://fshschool.org/docs/sushi/configuration/#exhaustive-example
id: ch.fhir.ig.ch-term
canonical: http://fhir.ch/ig/ch-term
url: http://fhir.ch/ig/ch-term/ImplementationGuide/ch.fhir.ig.ch-term
name: CH_TERM
title: CH Term (R4)
description: Implementation Guide for Swiss Terminology
status: active
experimental: false
date: 2024-02-29
version: 3.0.0-ci-build
fhirVersion: 4.0.1
copyrightYear: 2019+
releaselabel: ci-build # ci-build | draft | qa-preview | ballot | trial-use | release | update | normative+trial-use
publisher:
  name: HL7 Switzerland
  url: https://www.hl7.ch/
contact:
  - name: HL7 Switzerland
    telecom:
      - system: url
        value: https://www.hl7.ch/
        use: work
license: CC0-1.0
copyright: CC0-1.0
jurisdiction: urn:iso:std:iso:3166#CH

dependencies:
  ihe.formatcode.fhir: 1.1.0
  hl7.terminology: 5.4.0
  
pages:
  index.md:
    title: Home
  codesystems.md:
    title: Code Systems
  valuesets.md:
    title: Value Sets
  conceptmaps.md:
    title: Concept Maps     
  namingsystems.md:
    title: Naming Systems 
  changelog.md:
    title: Changelog

menu:
  Home: index.html
  Code Systems: codesystems.html
  Value Sets: valuesets.html
  Concept Maps: conceptmaps.html
  Naming Systems: namingsystems.html
  Artifacts: artifacts.html

FSHOnly: false

# For parameters defined by core FHIR see: 
# http://build.fhir.org/codesystem-guide-parameter-code.html.
# For parameters defined by the FHIR Tools IG  see:
# http://build.fhir.org/ig/FHIR/fhir-tools-ig/branches/master/CodeSystem-ig-parameters.html
parameters:
  excludettl: true
  path-resource:
    - input/resources/codesystem
    - input/resources/conceptmap
    - input/resources/namingsystem
    - input/resources/valueset
    - fsh-generated/resources
  allow-extensible-warnings: true
  display-warnings: true  
  special-url:
    - urn:oid:2.16.756.5.30.1.127.3.5
    - urn:oid:2.16.756.5.30.1.127.3.6
    - urn:oid:2.16.756.5.30.1.127.3.10.6
    - urn:oid:2.16.756.5.30.1.127.3.10.9
    - urn:oid:2.16.756.5.30.1.127.3.10.10
    - urn:oid:2.16.756.5.30.1.127.3.10.12
    - urn:oid:2.16.756.5.30.1.127.3.10.14
    - urn:oid:2.16.756.5.30.1.127.3.10.18
    - urn:oid:2.16.756.5.30.1.127.3.10.5
    - urn:oid:2.16.756.5.30.1.127.3.10.7
    - urn:oid:0.4.0.127.0.16.1.1.2.1 # edqm-standardterms
    - urn:oid:1.3.6.1.4.1.19376.1.9.2.1 # ihe-pharmaceuticaladvicestatuslist
    - http://fhir.ch/ig/ch-core/CodeSystem/ech-7-cantonflabbreviation
    - http://fhir.ch/ig/ch-core/CodeSystem/bfs-medstats-17-admitsource
    - http://fhir.ch/ig/ch-core/CodeSystem/bfs-medstats-18-admittype
    - http://fhir.ch/ig/ch-core/CodeSystem/bfs-medstats-19-admitrole
    - http://fhir.ch/ig/ch-core/CodeSystem/bfs-medstats-20-encounterclass
    - http://fhir.ch/ig/ch-core/CodeSystem/bfs-medstats-21-encountertype
    - http://fhir.ch/ig/ch-core/CodeSystem/bfs-medstats-27-dischargedecision
    - http://fhir.ch/ig/ch-core/CodeSystem/bfs-medstats-28-dischargedestination
    - http://fhir.ch/ig/ch-core/CodeSystem/bfs-medstats-29-dischargeencounter
    - http://fhir.ch/ig/ch-core/CodeSystem/ech-10
    - http://fhir.ch/ig/ch-core/CodeSystem/ech-11
    - http://fhir.ch/ig/ch-core/CodeSystem/ech-11-maritaldata-separation
    - http://fhir.ch/ig/ch-core/CodeSystem/ech-11-maritalstatus
    - http://fhir.ch/ig/ch-core/CodeSystem/ech-11-sex
    - http://fhir.ch/ig/ch-core/CodeSystem/ech-11-religion
    - http://fhir.ch/ig/ch-core/CodeSystem/ech-46-emailcategory
    - http://fhir.ch/ig/ch-core/CodeSystem/ech-46-internetcategory
    - http://fhir.ch/ig/ch-core/CodeSystem/ech-46-phonecategory
    - http://fhir.ch/ig/ch-core/ConceptMap/bfs-encounter-class-to-fhir
    - http://fhir.ch/ig/ch-core/ConceptMap/documententry-confidentialitycode-to-fhir
    - http://fhir.ch/ig/ch-core/ConceptMap/ech-46-emailcategory-to-fhir
    - http://fhir.ch/ig/ch-core/ConceptMap/ech-46-internetcategory-to-fhir
    - http://fhir.ch/ig/ch-core/ConceptMap/ech-46-phonecategory-to-fhir
    - http://fhir.ch/ig/ch-core/ConceptMap/maritalstatus-ech11-to-fhir
    - http://fhir.ch/ig/ch-core/ConceptMap/sex-ech11-to-fhir
    - http://fhir.ch/ig/ch-core/ValueSet/ech-7-cantonabbreviation
    - http://fhir.ch/ig/ch-core/ValueSet/ech-7-cantonflabbreviation
    - http://fhir.ch/ig/ch-core/ValueSet/bfs-medstats-17-admitsource
    - http://fhir.ch/ig/ch-core/ValueSet/bfs-medstats-18-admittype
    - http://fhir.ch/ig/ch-core/ValueSet/bfs-medstats-19-admitrole
    - http://fhir.ch/ig/ch-core/ValueSet/bfs-medstats-20-encounterclass
    - http://fhir.ch/ig/ch-core/ValueSet/bfs-medstats-21-encountertype
    - http://fhir.ch/ig/ch-core/ValueSet/bfs-medstats-27-dischargedecision
    - http://fhir.ch/ig/ch-core/ValueSet/bfs-medstats-28-dischargedestination
    - http://fhir.ch/ig/ch-core/ValueSet/bfs-medstats-29-dischargeencounter
    - http://fhir.ch/ig/ch-core/ValueSet/ch-core-encounter-participation-type
    - http://fhir.ch/ig/ch-core/ValueSet/ch-core-maritalstatus
    - http://fhir.ch/ig/ch-core/ValueSet/ch-core-religion
    - http://fhir.ch/ig/ch-core/ValueSet/ech-10-linetype
    - http://fhir.ch/ig/ch-core/ValueSet/ech-11-firstnamedatatype
    - http://fhir.ch/ig/ch-core/ValueSet/ech-11-maritaldata-separation
    - http://fhir.ch/ig/ch-core/ValueSet/ech-11-maritalstatus
    - http://fhir.ch/ig/ch-core/ValueSet/ech-11-namedatatype
    - http://fhir.ch/ig/ch-core/ValueSet/ech-11-sex
    - http://fhir.ch/ig/ch-core/ValueSet/ech-46-emailcategory
    - http://fhir.ch/ig/ch-core/ValueSet/ech-46-internetcategory
    - http://fhir.ch/ig/ch-core/ValueSet/ech-46-phonecategory
    - http://fhir.ch/ig/ch-allergyintolerance/CodeSystem/allergyintolerance-category-supplement
    - http://fhir.ch/ig/ch-allergyintolerance/CodeSystem/allergyintolerance-clinical-supplement
    - http://fhir.ch/ig/ch-allergyintolerance/CodeSystem/allergyintolerance-criticality-supplement
    - http://fhir.ch/ig/ch-allergyintolerance/CodeSystem/allergyintolerance-severity-supplement
    - http://fhir.ch/ig/ch-allergyintolerance/CodeSystem/allergyintolerance-type-supplement
    - http://fhir.ch/ig/ch-allergyintolerance/CodeSystem/allergyintolerance-verification-supplement
    - http://fhir.ch/ig/ch-allergyintolerance/ValueSet/CHAllergyIntoleranceConditionValueSet
    - http://fhir.ch/ig/ch-allergyintolerance/ValueSet/CHAllergyIntoleranceReactionManifestationValueSet
    - http://fhir.ch/ig/ch-allergyintolerance/ValueSet/CHAllergyIntoleranceReactionSubstanceValueSet
    - http://fhir.ch/ig/ch-allergyintolerance/ValueSet/CHAllergyIntoleranceValueSet
    - http://fhir.ch/ig/ch-vacd/CodeSystem/ch-vacd-swissmedic-cs
    - http://fhir.ch/ig/ch-vacd/CodeSystem/ch-vacd-myvaccines-cs
    - http://fhir.ch/ig/ch-vacd/CodeSystem/ch-vacd-recommendation-categories-cs
    - http://fhir.ch/ig/ch-vacd/CodeSystem/ch-vacd-recommendation-forecast-status-cs
    - http://fhir.ch/ig/ch-vacd/ValueSet/ch-vacd-route-of-administration-vs
    - http://fhir.ch/ig/ch-vacd/ValueSet/ch-vacd-targetdiseasesandillnessesundergoneforimmunization-vs
    - http://fhir.ch/ig/ch-vacd/ValueSet/ch-vacd-vaccines-snomedct-vs
    - http://fhir.ch/ig/ch-vacd/ValueSet/ch-vacd-vaccines-vs
    - http://fhir.ch/ig/ch-vacd/ValueSet/ch-vacd-ch-vaccination-plan-immunizations-vs
    - http://fhir.ch/ig/ch-vacd/ValueSet/ch-vacd-recommendation-categories-vs
    - http://fhir.ch/ig/ch-vacd/ValueSet/ch-vacd-recommendation-forecast-status-vs
    - http://fhir.ch/ig/ch-vacd/ConceptMap/ch-vacd-targetdiseases-vaccines-cm
    - http://fhir.ch/ig/ch-vacd/ConceptMap/ch-vacd-vaccines-sct-sm-cm
    - http://fhir.ch/ig/ch-vacd/ConceptMap/ch-vacd-vaccines-sct-targetdiseases-cm
    - http://fhir.ch/ig/ch-vacd/ConceptMap/ch-vacd-vaccines-sm-sct-cm
    - http://fhir.ch/ig/ch-vacd/ConceptMap/ch-vacd-vaccines-targetdiseases-cm
   
    

    
